button {
    display: block;
    margin-bottom: 50px;
}

.btn1 {
   border-radius: 5px;
   font-size: 35px;
   box-shadow: 5px 2px;
   background-color: rgb(202, 166, 166);
   color: rgb(195, 195, 233);
}

.btn2 {
    border-radius: 20px;
    font-size: 35px;
    box-shadow: 5px 2px;
    background-color: red;
    background-image: linear-gradient(to bottom right, red, yellow);
    text-decoration: none;    
}

.btn3 {
    border-radius: 15px;
    font-size: 35px;
    box-shadow: 5px 2px;
    background-color: blue;
    background-image: linear-gradient(to bottom right,rgb(40, 40, 172), yellow);
    text-decoration: none; 
}

.btn4 {
    border-radius: 10px;
    font-size: 35px;
    box-shadow: 5px 2px;
    background-color: red;
    background-image: linear-gradient(to bottom right, red, rgb(190, 160, 160));
    text-decoration: none; 
}

 dotąd przyciski 

body {
    margin: 70px 0px 70px 0px;
    text-align: center;
   
}

.box {
    position: absolute;
    border: 1px solid;
    margin: 50px 600px 50px 600px;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: 5px 10px 18px rgb(180, 180, 224);
    
    text-align: center;
}

p {
    color: gray;
    
}

.img1 {
    hight: 100px;
    width: 100px;
    text-align: center;
}

.btn5 button {
    background-color: black;
    color: whitesmoke;
    border-radius: 50px;
    height: 50px;
    position: relative; 
}

dotad zadanie 1 

img.img2 {
    max-width: 10px;
    float: right;
    background-repeat: no-repeat; 
    border-radius: 10px;
}

h3,p {
    color: rgba(91, 91, 236, 0.479);
    text-shadow: 1px 1px;
    font-family: 'Lucida Console', sans-serif;
}

p {
    font-size: 20px;
}

.loginbox {
    padding: 50px;
    background-color: rgb(226, 175, 175);
    height: 600px;
    width: 307px;
    position: relative;
    left: 50px;
    border-radius: 7px;
}


.btn6 {
    position: relative;
    top: -420px;
    right: -100px;
    background-color: rgb(187, 187, 241);
    border-radius: 10px;
    text-transform: bold;
    font-size: 20px;
}

.mydiv:hover {
    
    position: relative;
    animation: mymove 1s infinite; 
    animation-timing-function: linear;
}


@keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}